{% extends 'lor.tango.html.twig' %}

{% block head_title %}List of books{% endblock %}
{% block title %}List of books{% endblock %}

{% block body %}
    <div class="forum">
        <table class="message-table">
            <thead>
            <tr>
                <th>Обложка</th>
                <th>Автор(ы)</th>
                <th>Название</th>
                <th class="year">Год издания</th>
                <th class="isbn">ISBN</th>
                <th class="pages-amount"># страниц</th>
            </tr>
            </thead>
            <tbody>
            {% for book in books %}
                <tr>
                    <td class="cover">
                        <a href="{{ path('book_show', {'id': book.id}) }}">
                            <img src="{{ bookCover(book.id) }}">
                        </a>
                    </td>
                    <td>
                        {% for author in book.authors %}
                            {{ author.surname }} {{ author.name }} {{ author.patronymic }} <br>
                        {% endfor %}
                    </td>
                    <td>
                        {{ book.title }}
                    </td>
                    <td>
                        {{ book.YearOfPublication|date("Y") }}
                    </td>
                    <td>
                        {{ book.isbn }}
                    </td>
                    <td>
                        {{ book.PagesAmount }}
                    </td>

                    <td>
                        <a href="{{ path('book_edit_form', {'id': book.id}) }}">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>

                        <a href="{{ path('book_delete_form', {'id': book.id}) }}">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>

    <nav>
        <a href="{{ path('book_new_form') }}" class="btn btn-primary">Добавить</a>
    </nav>

    <style>
        th.year {
            min-width: 13ch;
        }
        th.isbn {
            min-width: 13ch;
        }
        th.pages-amount {
            min-width: 10ch;
        }
        td.cover img     {
            max-width: 64px;
            max-height: 64px;
        }
    </style>

{% endblock %}
